In [2]:
import requests

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv"
response = requests.get(url)

# Guardar el archivo localmente
with open("laptops.csv", "wb") as file:
    file.write(response.content)

In [4]:
import pandas as pd
pd.__version__

'1.5.2'

In [7]:
#Question 2. Records count (1 point)
laptops = pd.read_csv('laptops.csv')
print(len(laptops))

2160

In [11]:
#Question 3. Laptop brands (1 point)
len(laptops.groupby("Brand").count())

27

In [12]:
#Question 4. Missing values (1 point)
laptops.isnull().sum()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,True,True,True,True,True,True,True,True,False,True,True,True
1,True,True,True,True,True,True,True,True,False,True,True,True
2,True,True,True,True,True,True,True,True,False,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2155,True,True,True,True,True,True,True,True,True,True,True,True
2156,True,True,True,True,True,True,True,True,True,True,True,True
2157,True,True,True,True,True,True,True,True,True,True,True,True
2158,True,True,True,True,True,True,True,True,False,True,True,True
2159,True,True,True,True,True,True,True,True,False,True,True,True